@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    @apply text-gray-800 bg-white dark:bg-gray-900 dark:text-gray-100;
}